{
    "frunk": {
        "items": []
    },
    "sharon": {
        "items": []
    },
    "indigo": {
        "items": []
    },
    "zepha": {
        "items": []
    },
    "shared": {
        "items": []
    },
    "gm": {
        "items": []
    }
}